h1,
h2,
h3,
h4 {
  font-family: sans-serif;
  color: #fabd2f;
}
html {
  scroll-behavior: smooth;
}
.top-header {
  color: #302f2e;
  font-size: 26px;
  text-transform: uppercase;
  font-style: italic;
  text-align: center;
  background-color: #383534;
  padding: 5px;
  border: 7px solid #000;
  border-radius: 1em 1em;
}

h2 {
  font-size: 40px;
}

p,
li {
  font-size: 22px;
  line-height: 1.5;
  color: #fff;
}

/*
footer p {
   font-size: 16px;
}
*/
#descht {
  font-size: 40px;
}

#copyright {
  font-size: 8px;
}
/* Comments in css
*/
.related {
  font-weight: bold;
}

.related-2 {
  list-style: none;
}

aside {
  background-color: #3a2d25;
  border: 5px solid #1098ad;
  border-radius: 10% 10%;
}
body {
  background-color: #282828;
}

img {
  border: 5px solid #3a2d25;
  border-radius: 5% 5%;
}

li:hover {
  color: #ff00ff;
}

li:last-child {
  font-style: italic;
}
li:first-child {
  font-weight: bold;
}
li:nth-child(6) {
  font-weight: bold;
}

a:link {
  color: #1098ad;
  text-decoration: none;
}
a:visited {
  color: #777;
}
a:hover {
  text-decoration: underline dotted orangered;
  color: #ff00ff;
}
a:active {
  background-color: black;
}
.allbox {
  width: 700px;
  margin-left: auto;
  margin-right: auto;
}
